* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    padding-left: 200px;
    background-color: #F5F5F5;
    margin-top: 3px;
    cursor: pointer;
}

.pic-1{
    position: relative;
    left: 180px;
   
}
.pic-1 h2,p{
    border: 2px solid #1B82B1 ;
    width: 580px;
    background-color: #1B82B1;
}
    .pic-2 p{
        border: 2px solid #B89355 ;
        width: 150px;
        height: 133px;
    }
    .pic-2{
        position: relative;
        left: 80px;
    }
    .pic-3 h3{
        color: white;
       background-color: #DA471B;
        border: 2px solid #DA471B;
        border-radius: 4px;
        width: 250px;
        height: 120px;
    }
    .pic-4{
        position: relative;
        left: 180px;
        bottom: 517px;
    }
    
    .pic-5{
        position: relative;
        left: 480px;
        bottom: 787px;
    }
    .pic-6{
        position: relative;
        left: 770px;
        bottom: 1050px;
    }
    .footer{
       position: relative;
       bottom: 900px;
        border: 2px solid #1F1F1F;
        width: 1225px;
        height: 230px;
    background-color: #1F1F1F;
    color: white;
            display: flex;
            justify-content: space-evenly;
        }
        
        








